@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-count {
  transition: all 4s ease-out;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-up {
  transform: translateY(40px);
  opacity: 0;
  transition: all 0.8s ease;
}

.slide-up.visible {
  transform: translateY(0);
  opacity: 1;
}

.slide-down {
  transform: translateY(-40px);
  opacity: 0;
  transition: all 0.8s ease;
}

.slide-down.visible {
  transform: translateY(0);
  opacity: 1;
}

.fade-out {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-out.visible {
  opacity: 0;
  transform: translateY(20px);
}
.slide-in-left {
  transform: translateX(-50px);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.slide-in-left.visible {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-right {
  transform: translateX(50px);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.slide-in-right.visible {
  transform: translateX(0);
  opacity: 1;
}

.perspective-1000 {
  perspective: 1000px;
}
